@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800|Anton');

body {
  background-image: url("images/guk.jpg");
  background-attachment: fixed;
  background-color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #8c8c8c;
  font-size: 15px;
  line-height: 1.6em;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #a6a6a6;
}

h1{
  color: #a6a6a6;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 300;
}

h3{
  font-size: 16px;
  font-weight: 300;
}

p{
  text-align: center;
}

a{
  color: #8c8c8c;
  text-decoration: none;
}

table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}

a:hover{
  color: #DD5555;
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0px auto;
}


.card{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.text-center {
  text-align: center;
}

.img-circle{
  border-radius: 50%;
}

#img-profile{
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
}

.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-red{
  background-color: rgba(88,88,88,0.7);
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-red:hover{
  background-color: #C61414;
  color: white;
}


#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 80px;
}
#movies td{
  padding: 10px;
}


@media (max-width: 768px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
}



.navbar {
    overflow: hidden;
    background-color: rgba(88,88,88,0.7);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-family: 'Anton', sans-serif;
}

/* Links inside the navbar */
.navbar a {
    display: inline-block;
    color: #a6a6a6;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #a6a6a6;
    color: black;
}
